<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AuthGroupMapper">
	<select id="selectRuleByUsername" resultType="String">
		select ag.rules
		from ob_auth_group ag,ob_auth_group_access aga,ob_member m where
		m.username = #{username} and aga.member_id = m.id and aga.group_id =
		ag.id and ag.status = 1 and aga.status = 1 and m.status = 1
	</select>
</mapper>